:root {
    --theme-color: #1A2238;
    --theme-color2: #9DAAF2;
    --theme-color3: #FF6A3D;
    --theme-color4: #F4DB7D;
    --light-blue: #1561ad;
}

form.search-box .input-form {
    width: 79%;
}

.professions-block:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease;
}


.professions-img img {
    transition: all 0.5s ease;
    border-radius: 12px;
}

.img-hover-zoom {
    overflow: hidden;
}

.professions-text h1 {
    padding-top: 13px;
    font-size: 30px;
}

.professions-block:hover h1 {
    color: var(--light-blue);
}

.section-pad-t30 {
    padding: 65px 0;
}

.slider-area .hero__caption h1 {
    margin-top: 12vh;
}

    

.border-btn2 {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 27px 30px;
}

form.search-box .search-form a {
    background: var(--light-blue);
    text-align: center;
    align-items: center;
}

.border-btn2::before {
    background-color: var(--light-blue);
}



.modal-content {
    width: 120%;
    height: 385px;
    z-index: 9999;
}

.modal-dialog {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;

}

.modal{
    z-index: 9999;
    
}

/* sdsd */
.md-form {
    padding: 0 70px;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.zoom-in {
    transform: scale(0) !important;
    opacity: 0;
    -webkit-transition: 0.8s all 0s;
    -moz-transition: 0.8s all 0s;
    -ms-transition: 0.8s all 0s;
    -o-transition: 0.8s all 0s;
    transition: 0.5s all 0s;
    display: block !important;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1) !important;
    transform: none;
}

/* svsdv */
.head-btn2 {
    border: none;
    font-weight: 700;
}

.header-area .main-menu ul li:hover {
    background-color: var(--light-blue);
}

.header-area .main-menu ul li a:hover {
    color: #fff;
}

.search-form a {
    font-weight: 700;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.eye-hide {
    width: 20px;
    height: 2px;
    background-color: black;
    transform: rotate(310deg);
    position: absolute;
    bottom: 27px;
}

#toggle {
    padding-top: 10px;
    padding-left: 20px;
}

.footer-tittle h4 {
    color: #000;
}

.footer-area .footer-tittle h4 {
    color: var(--light-blue);
}

.footer-area .footer-pera p {
    color: #fff;
}

.footer-second-p {
    color: #fff;
}

.footer-area .footer-tittle ul li a {
    color: #fff;
    opacity: 1;
}

.footer-area {
    background-color: var(--theme-color);
}





.footer-bottom-area {
    background-color: var(--theme-color);
}

/* .footer-area .footer-form form input {
    border: 1px solid #000;
    border-radius: 12px;
} */

.footer-padding {
    padding-top: 40px;
}

.footer-area .footer-tittle-bottom span {
    color: #505050;
}

.footer-area .footer-tittle-bottom p {
    color: #505050;
}

.footer-bottom-area .footer-copy-right p a {
    color: #505050;
}

.footer-wejed {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal-mobiles {
    display: none;
}

.header-regist-r {
    width: 310px;
    padding: 0;
}

.navigation-links {
    padding-right: 0;
}


.navigation {
    width: 490px;
}

.navigation-links{
    margin-left: 25px;
}


iframe{
    width: 1170px;
}

.fa-heart:before{
    color: #fff;
}


.head-btn1::before{
    content: none;
}

.post-btn::before{
    content: none;
}


.job-form .btn::before{
    content: none;
}

.job-listing-button{
    padding: 27px 30px;
}

.job-form{
    width: 560px;
}

.select-form-txt{
    font-size: 18px;
    margin-left: 20px;
}
































/* nice select  */
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #1561ad;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    color: #fff;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto; }
    .nice-select:hover {
      border-color: #1561ad; }
    .nice-select:active, .nice-select.open, .nice-select:focus {
      border-color: #1561ad; }
    .nice-select:after {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      content: '';
      display: block;
      height: 5px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
          -ms-transform-origin: 66% 66%;
              transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 5px; }
    .nice-select.open:after {
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    .nice-select.open .list {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
          -ms-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0); }
    .nice-select.disabled {
      border-color: #ededed;
      color: #999;
      pointer-events: none; }
      .nice-select.disabled:after {
        border-color: #cccccc; }
    .nice-select.wide {
      width: 100%; }
      .nice-select.wide .list {
        left: 0 !important;
        right: 0 !important; }
    .nice-select.right {
      float: right; }
      .nice-select.right .list {
        left: auto;
        right: 0; }
    .nice-select.small {
      font-size: 12px;
      height: 36px;
      line-height: 34px; }
      .nice-select.small:after {
        height: 4px;
        width: 4px; }
      .nice-select.small .option {
        line-height: 34px;
        min-height: 34px; }
    .nice-select .list {
      background-color: #1561ad;
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
      box-sizing: border-box;
      margin-top: 4px;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform: scale(0.75) translateY(-21px);
          -ms-transform: scale(0.75) translateY(-21px);
              transform: scale(0.75) translateY(-21px);
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 9; }
      .nice-select .list:hover .option:not(:hover) {
        background-color: transparent !important; }
    .nice-select .option {
      cursor: pointer;
      font-weight: 400;
      line-height: 40px;
      list-style: none;
      min-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
        background-color: #0052a3; }
      .nice-select .option.selected {
        font-weight: bold; }
      .nice-select .option.disabled {
        background-color: transparent;
        color: #999;
        cursor: default; }
  
  .no-csspointerevents .nice-select .list {
    display: none; }
  
  .no-csspointerevents .nice-select.open .list {
    display: block; }
  

/* nice select  */



/* slick  */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    /* min-height: 1px; */
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/* slick  */



/* slick nav  */


/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
 .slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer; }
    /* .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
      margin-top: 0.188em; } */
  
  .slicknav_menu {
    *zoom: 1; }
    .slicknav_menu .slicknav_menutxt {
      display: block;
      line-height: 1.188em;
      float: left; }
    .slicknav_menu .slicknav_icon {
      float: left;
      width: 1.125em;
      height: 0.875em;
      margin: 0.188em 0 0 0.438em; }
      .slicknav_menu .slicknav_icon:before {
        background: transparent;
        width: 1.125em;
        height: 0.875em;
        display: block;
        content: "";
        position: absolute; }
    .slicknav_menu .slicknav_no-text {
      margin: 0; }
    .slicknav_menu .slicknav_icon-bar {
      display: block;
      width: 1.125em;
      height: 0.125em;}
    .slicknav_menu:before {
      content: " ";
      display: table; }
    .slicknav_menu:after {
      content: " ";
      display: table;
      clear: both; }
  
  .slicknav_nav {
    clear: both; }
    .slicknav_nav ul {
      display: block; }
    .slicknav_nav li {
      display: block; }
    .slicknav_nav .slicknav_arrow {
      font-size: 0.8em;
      margin: 0 0 0 0.4em; }
    .slicknav_nav .slicknav_item {
      cursor: pointer; }
      .slicknav_nav .slicknav_item a {
        display: inline; }
    .slicknav_nav .slicknav_row {
      display: block; }
    .slicknav_nav a {
      display: block; }
    .slicknav_nav .slicknav_parent-link a {
      display: inline; }
  
  .slicknav_brand {
    float: left; }
  
  /* .slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #4c4c4c;
    padding: 5px; }
    .slicknav_menu * {
      box-sizing: border-box; }
    .slicknav_menu .slicknav_menutxt {
      color: #fff;
      font-weight: bold; }
    .slicknav_menu .slicknav_icon-bar {
        background-color: #000000 !important;
      }
   */
      .slicknav_btn {
        margin: 5px 5px 6px;
        text-decoration: none;
        background-color: none;
      }
  
  .slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden; }
    .slicknav_nav ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0 0 0 20px; }
    .slicknav_nav .slicknav_row {
      
      /* padding: 5px 10px; */
      margin: 2px 5px; 
    }
      .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #ccc;
        color: #fff; }
    .slicknav_nav a {
      padding: 5px 10px;
      margin: 2px 5px;
      text-decoration: none;
      color: #fff; }
      .slicknav_nav a:hover {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #ccc;
        color: #222; }
    .slicknav_nav .slicknav_txtnode {
      margin-left: 15px; }
    .slicknav_nav .slicknav_item a {
      padding: 0;
      margin: 0; }
    .slicknav_nav .slicknav_parent-link a {
      padding: 0;
      margin: 0; }
  
  .slicknav_brand {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px; }
  
  
  
    /*===== mobile menu slicknav =====*/
  
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
  }
  .slicknav_menu .slicknav_menutxt {
      display: none;
  }
  .slicknav_menu {
      background: transparent;
      margin-top: 10px;
  }
  .slicknav_menu .slicknav_icon-bar {
      background-color: #ffffff;
      height: 1px;
      margin: 5px 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 30px;
      position: relative;
  }
  .slicknav_btn {
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: -35px;
      position: relative;
      z-index: 99;
  }
  .slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  .slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(1px, 7px);
      -ms-transform: rotate(45deg) translate(1px, 7px);
          transform: rotate(45deg) translate(1px, 7px);
  }
  .slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
      -webkit-transform: rotate(-45deg) translateY(-6px);
      -ms-transform: rotate(-45deg) translateY(-6px);
          transform: rotate(-45deg) translateY(-6px);
          position: relative;
          top: -1px;
  }
  .slicknav_menu {
    margin: 0;
    padding: 0;
  }
  .slicknav_icon-bar {
      background: rgb(0, 0, 0) !important;
  }
  .slicknav_nav {
      background: #fff;
      float: right;
      margin-top: 9px;
      padding: 19px;
      width: 100%;
      border-bottom: 1px solid #eee;
  }
  .slicknav_nav a:hover {
      background: #000000 none repeat scroll 0 0;
      border-radius: 0;
      color: #ffffff;
  }
  
  .slicknav_nav a {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      text-transform: capitalize;
  }
  
  .slicknav_nav .slicknav_arrow {
      float: right;
  }
  
  .slicknav_nav .slicknav_row:hover,
  .slicknav_nav .slicknav_row:hover .slicknav_arrow {
      border-radius: 0;
      background-color: #000000;
      background-color: transparent;
      color: #000;
  }
  .slicknav_btn {
      background-color: transparent;
      cursor: pointer;
      margin-bottom: -45px;
      position: relative;
      z-index: 99;
      border: none;
      border-radius: 3px;
      top: -23px;
      padding: 5px;
      right: 5px;
      margin-top: -5px;
  }
  .slicknav_menu .slicknav_icon {
      margin-right: 6px;
      margin-top: 3px;
      position: relative;
      right: 5px;
      top: -5px;
      padding-bottom: 3px;
  }
  .slicknav_nav .slicknav_arrow {
      float: right;
      font-size: 22px;
      position: relative;
      top: -9px;
  }
  .slicknav_menu .slicknav_nav a:hover {
      background: transparent;
      color: #000000;
  }




/* slick nav  */






































/* media section  */
@media (max-width: 767px){
    form.search-box .input-form input {
        margin-bottom: 0;
        padding: 7px 10px;
        height: auto;
    }
    form.search-box .input-form {
        width: 100%;
        margin-bottom: 25px;
        background-color: #FB246A;
    }
    .slider-area .hero__caption h1{
        margin-bottom: 35px;
    }
}


 @media (max-width: 991px){
    .modal-mobiles{
        display: block;
    }

    form.search-box .search-form a{
        padding: 11px;
        align-self: center;
        text-align: center;
    }
} 

@media (max-width: 1220px) {
    iframe{
        width: 920px;
    }
}



@media (max-width:520px) {
    .md-form{
       padding: 0;
    }
}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}



/* media section  */